.skills {
    .skills-container{
        width: 100%;
        word-wrap: break-word;
        p{
            font-family: "Bigilla";
            font-size: 80px;
            line-height: 100px;

            @media (max-width: 900px) {
                font-size: 36px;
                line-height: 50px;
                text-align: justify;
            }   
        }
    }
}