@font-face {
  font-family: "Sk-Modernist";
  src: url(./assets/fonts/sk-modernist/Sk-Modernist-Regular.otf);
}

@font-face {
  font-family: "Bigilla";
  src: url(./assets/fonts/bigilla/Bigilla.otf);
}

* {
	margin: 0;
	padding: 0%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Sk-Modernist";
	color: #fff;
  cursor: none !important;
}

html, body {
	overflow-x: hidden;
	background: rgb(10, 10, 10);
}

.wrapper {
	width: 100%;
	height: 100%;

  .container{
    width: 96%;
    margin: 0px auto;
  }
}

.navbar{
  .navbar-container{
      display: flex;
      padding: 12px 0;
      font-size: 16px;
      justify-content: space-between;

      .site-title, .site-type{
          flex-grow: 1;
      }

      .site-year{
          flex-grow: 2;
          text-align: right;
      }
  }
}

.section-header{
    .section-header-container{
        display: flex;
        padding: 12px 0;
        font-size: 16px;
        justify-content: space-between;
    }
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .sectDiv1, .sectDiv2, .sectDiv3, .sectDiv4, .sectDiv5, .sectDiv6, .sectDiv7, .sectDiv8, .sectDiv9, .sectDiv10, .sectDiv11, .sectDiv12, .sectDiv13, .sectDiv5, .sectDiv14, sect-div{
  width: 100%;
	height: 2px;
	background: #fff;
}

.sectDiv14{
  display: none;
}